* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position:relative;
}

body {
    margin:0px;
    background-color: #f2d6d6;
    padding: 0px;
}
    
h1, h2, p, a, ul, li {
    color: #000;
    font-weight: 400;
    font-style: normal;
    font-family: 'Baskervville', serif;
    font-size: 20px;
    line-height: 1.35;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-decoration: none;
    letter-spacing: 0.75px;
}

h1, h2, a {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 40px;
}


/*---------------------------------- 
    header
-----------------------------------*/
header {
    padding: 40px 50px 0px 50px;
    width: 100%;
    z-index: 100;
    position: fixed;
}

header h1 {
    display: inline-block;
    width: 50%;
}

#kontakt, #kontakt-closer {
    display: inline-block;
    cursor: pointer;
}

/*---------------------------------- 
    Kontakt
-----------------------------------*/

.kontakt {
    width: 100%;
    height: 100vh;
    background-color: #f2d6d6;
    position: fixed;
    top:0;
    left: 0;
    padding: 40px 50px 0px 50px;
    display: none;  
}

.kontaktin {
    display: block;
    
}

.kontakt img {
    width: 50%;
    padding-right: 50px;
    float: left;
}


/*---------------------------------- 
    container
-----------------------------------*/

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container h1{
    position: absolute;
    bottom: 0;
    right: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 50px 40px;
    margin: 0;
    z-index: 2;
}

.fadeholder {
    z-index: 1;
}

.slide {
  display: none;
}

.slideimg {
    z-index: 1;
    position: absolute;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    height: 100%;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*---------------------------------- 
    produtke
-----------------------------------*/

.pcontainer {
    padding: 200px;
    background-color: #fff;
    width: 100%;
    display: inline-block;
}

.pcontainer img.small {
    padding-right: 20px;
    width: 50%;
    float: left;
    display: inline-block;
}

.pcontainer img.big {
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    float: left;
    display: inline-block;
}

ul {
    list-style: none;
    display: inline;
}

li.first {
    font-weight: bold;
}


/*---------------------------------- 
    footer
-----------------------------------*/

footer {
    margin: 60px 90px 0px 10px;
    width: calc(100% - 100px);
}

footer img {
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    padding: 0 30px 15px 30px;
    position: relative;
}





.impressum {
    color: #fff;
    margin: 0;
    cursor: pointer;
}

#impressum {
    display: none;
    padding: 40px 40px;
    position: relative;
    float: left;
}

.disclamer {
    font-size: 14px;
    color: #fff;
}

.konditionen {
    font-size: 14px;
    color: #718166;
}

#datenschutz,
#konditionen {
    display: none;
    padding: 0px 40px 40px;
    position: relative;
    float: left;
}

#datenschutz p{
    font-size: 14px;
    color: #fff;
}


#optoutbanner99 {
	font-size: 12px;
	line-height: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	background-color: #222;
	text-align: right;
	z-index: 200;
}

#optoutbanner99 a,
#optoutbanner99 p{
	cursor: pointer;
    font-size: 15px;
    display: inline-block;
    margin: 0;
    padding: 14px;
}

#acceptga {
	text-decoration: none;
	background-color: #ffd400;
}


/*---------------------------------- 
responsive ipad
-----------------------------------*/

@media only screen and (max-width: 1020px) {

    
}